@media(max-width:1200px){
    .brand img{
        width: 100%;
    }
}
@media(max-width:991px){
    footer .brand img{
        width: 70%
    }
    .navbar li a{
        padding: 13px 15px
    }
}
@media(max-width:767px){
    .home-slider .slider_content .slider-content-inner p{
        width: 64%
    }
     .brand img{
        width: 175px;
         margin-right: 20px
    }
    nav ul.navbar.navbar-collapse {
        width: 100%;
        overflow: hidden;
        background: #FFF;
        text-align: center
    }
    nav ul.navbar.navbar-collapse.collapse {
        display: none!important
    }
    nav ul.navbar.navbar-collapse.collapse.in {
        overflow: hidden!important;
        display: block!important
    }
     button.navbar-toggle {
        display: inline-block;
        color: #ae1c36;
        position: absolute;
        top: -44px;
        left: 0;
        font-size: 19px;
        padding: 5px 10px;
    }
    ul.navbar{
        position: absolute;
        top: 22px;
        right: 0
    }
    ul.navbar li,
    ul.navbar li a{
        display: block
    }
    .socail-list,
    .contact-nav{
        text-align: center;
        width: 100%
    }
    .slider_content .slider-content-inner p{
        width: 75%
    }
    .testimonial p,
    .head-section p{
        width: 95%
    }
    .slider-testimonials .fa-quote-left,
    .slider-testimonials .fa-quote-right{
        display: none
    }
}

