/*Table Content
==========================
    # General
        - Fonts
        - scrollbar
    # Links
    # Headings
    # Lists
        - socail-list
        - navbar
        - socail-foot
    # Images
    # Section Setting
        - head-section
    # top-nav
    # nav
    # footer
    # owl-carousel
    # about-us
    # service
    # our-works
    # testimonials
    # our-clients
    # contact-us
    # form-group
    # Scroll-top
    # Preload
*/


/* General
======================= */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Changa');

body{
    font-size: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Changa', sans-serif;

}
.fontf{
    font-family: 'Changa', sans-serif !important;
}
.box-shadow{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1)!important;
    transition: all 0.3s ease-in-out
}
.box-shadow:hover{
    box-shadow: 0 0 10px 0px rgba(31,51,73,.1)!important;
}
.no-padding{
    padding: 0
}
/* scrollbar */
::-webkit-scrollbar{ width: 10px; background: #231F20;}
::-webkit-scrollbar-track {background-color: #231F20;}
::-webkit-scrollbar-thumb {background: #ae1c36 ; border-radius: 25px}
::-webkit-scrollbar-thumb:hover {background: #ae1c36 ; border-radius: 25px}


/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;

}
.panel-default > .panel-heading + .panel-collapse > .panel-body,
p{
    margin: 0;
    line-height: 1.6 !important
}
/*Lists
==========================*/

ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*  socail-list */
.socail-list{
    
}
.socail-list li{
    display: inline-block;
   
}
.socail-list li a {
    padding: 10px;
    display: block
}
.socail-list li a:hover {
    color: #ae1c36
} 
.socail-list li a i {
    
}
/* navbar */
.navbar{
    border: none;
    margin: 0
}
.navbar li{
    display: inline-block
}
.navbar li a{
    padding: 13px 18px;
    display: block;
    position: relative;
}
.navbar li a:hover,
.navbar li a.active{
    color:#ae1c36;
    font-weight: bold;
    
}
.navbar li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 1px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.navbar li a:hover:after,
.navbar li a.active:after{
    width: 25px;
}

.navbar li a:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 1px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.navbar li a:hover:before,
.navbar li a.active:before{
    width: 10px;
}
.navbar li a i{
    
}

/*  socail-foot */
.socail-foot{
    margin-bottom: 30px
}
.socail-foot li{
    display: inline-block;
   
}
.socail-foot li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #555;
    border-radius: 2px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.socail-foot li a.twitter:hover{
    background:#55acee;
}
.socail-foot li a.instagram:hover{
    background:#e4405f;
}
.socail-foot li a.whatsapp:hover{
    background:#25D366;
}
.socail-foot li a.facebook:hover{
    background:#3b5999;
}
.socail-foot li a.snapchat:hover{
    background:#FFFC00;
}

.socail-foot li a i {
    
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 

.section-lg{
    padding: 50px 0;
}
/* head-section */
.head-section{
    text-align: center
}
.head-section h2{
    margin-bottom: 25px;
    position: relative;
    color: #ae1c36
}
.head-section h2:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.head-section h2:before{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background: #000;
    transition: all 0.3s ease-in-out
}
.head-section:hover h2:before{
    width: 40px
}
.head-section:hover h2:after{
    width: 30px
}
.head-section p{
    width: 60%;
    margin: 5px auto 50px
}
/* top-nav
===================== */
.top-nav{
    background: #231F20;
    color: #FFF
}
.top-nav .contact-nav {
    font-size: 12px;
    margin-top: 3px
}
.top-nav .contact-nav span{
    display: inline-block;
    padding: 10px
}
.top-nav .contact-nav span i {
    margin-left: 15px
}
/* nav
======================= */
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    padding: 20px 0;
    background: #fff;
    z-index: 99
}
.brand{
    color: #ae1c36;
    display: block
}
.brand img{
    width: 50%;
}
/* footer
======================= */
footer {
    background: #231F20;
    color: #FFF;
    padding: 100px 0
}
footer .brand img{
    width: 100%
}
footer .brand img,
footer p
{
    margin: 0px auto 
}
footer a.brand h3 {
    font-size: 40px
}
footer p{
    padding: 18px 0
}
footer p a{
    text-decoration: underline;
}
/* owl-carousel
======================== */
.owl-carousel{
    
}
.owl-carousel .item .owl-item-slide{
    height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 500px
}
.owl-carousel .item .owl-item-slide .slider_content {
    display: table;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
}
.owl-carousel .item .owl-item-slide .slider_content .slider-content-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}
.home-slider .slider_content .slider-content-inner h2{
    margin-bottom: 20px;
    transition: all 0.4s 300ms ease-in;
    transform: translateY(50px);
    opacity: 0
}
.home-slider .slider_content .slider-content-inner p{
    width: 30%;
    margin: auto;
    font-size: 18px;
    transition: all 0.4s 600ms ease-in;
    transform: translateY(50px);
    opacity: 0
}
.owl-theme .owl-nav{
    margin: 0
}
.home-slider .owl-item.active .slider-content-inner h2,
.home-slider .owl-item.active .slider_content .slider-content-inner p{
    transform: translateY(0);
    opacity: 1
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    font-size: 28px;
    color: #FFF;
    background: #0009;
    transform: translateY(-50%);
    height: 35px;
    line-height: 35px;
    width: 35px;
    outline: none
}
.owl-carousel .owl-nav button.owl-prev{
    right: 20px
}
.owl-carousel .owl-nav button.owl-next{
    left: 20px
}
/* about-us
========================= */
.about-us{
    background: #FFF;
    counter-reset: widget;
}
.about-us .about-content{
    
}
.about-us .about-content h3 {
    font-size: 35px;
    color: #ae1c36;
    margin-bottom: 10px
}
.about-us .about-img {
    margin-top: 48px
}
.about-us .about-img img {
    width: 100%
}
.panel-default{
    border-color: #ae1c36;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #ae1c36;
    border-color: transparent;
    border-radius: 0;
    padding: 0
}
.panel-default > .panel-heading a{
    display: block;
    padding: 10px 15px;
}
.panel-group .panel{
    border-radius: 0
}
.about-widget {
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    z-index: 0;
    
}
.about-widget:after{
    counter-increment: widget;
    content:  "0" counter(widget);
    color: #f8f8f8;
    position: absolute;
    top: -15px;
    font-size: 136px;
    z-index: -1;
    left: 29%;
    font-family: 'Lalezar', cursive;
}
.about-widget i{
    font-size: 35px;
    color: #d1d1d1;
    transition: all 0.3s ease-in-out
}
.about-widget p{
    
}
.about-widget h4{
    margin: 20px 0;
    color: #ae1c36
}
.about-widget:hover i{
    transform: rotateY(180deg);
    color: #888
}
/* service
=========================== */
.service{
    background: #f7f7f7
}
.service iframe,
.service  video{
    width: 100%;
    height: 500px
}
.service-widget{
    background: #FFF;
    padding: 20px;
    position: relative;
    margin-bottom: 30px
}
.service-widget:after,
.service-widget:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background: #ae1c36;
    transition: all 0.3s ease-in-out;
}
.service-widget:after{
    left: 0;
    top: -2px;
}
.service-widget:before{
    bottom: -2px;
    right: 0
}
.service-widget:hover:after{
    transform:  translateX(100%)
}
.service-widget:hover:before{
    transform:  translateX(-100%)
}
.service-widget span{
    display: block;
}

.service-widget:hover span:after{
    transform:  translateY(calc(100% + 4px));
}
.service-widget:hover span:before{
    transform:  translateY(calc(-100% - 4px))
}
.service-widget h4{
    color: #ae1c36;
    margin: 20px 0
}
.service-widget i{
    font-size: 35px;
    color: #d6d6d6;
}
.service-widget p{
    margin-top: 20px;
    line-height: 1.8;
    text-align: justify
}
/* our-works
========================*/
.our-works{
    background: #FFF
}
.work-img{
    position: relative;
    overflow: hidden;
    cursor: pointer
}
.work-img img {
    transition: all 0.3s ease-in-out;
    width: 100%
}
.work-img .work-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0008;
    opacity: 0;
    transition: all 0.3s  ease-in-out;
    transition-delay: 200ms
}
.work-img .work-content h5{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
    font-size: 19px;
    color: #FFF;
    text-align: center;
}
.work-img:hover img{
    transform: scale(1.2)
}
.work-img:hover .work-content {
    opacity: 1
}
/* testimonials
==================*/
.testimonials{
    background: #FFF;
    position: relative
    
}
.testimonial{
    text-align: center;
}
.testimonial i{
    font-size: 30px;
    color: #ae1c36;
    margin-bottom: 20px
}
.testimonial p{
    position: relative;
    width: 60%;
    margin:30px auto 20px;
    z-index: 1
}
.slider-testimonials{
    position: relative
}
.slider-testimonials .fa-quote-left{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 88px;
    color: #f1f1f1;
    z-index: 3;
    height: 100%;
    background: #FFF;
    padding-left: 35px;
    padding-top: 30px;
}
.slider-testimonials .fa-quote-right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 88px;
    color: #f1f1f1;
    height: 100%;
    z-index: 2;
    padding-top: 184px;
    padding-right: 35px;
    background: #FFF;
}
.testimonial img{
    width: 75px !important;
    height: 75px;
    border-radius: 50%;
    margin: auto
}
.testimonial h4{
    color: #ae1c36;
    margin-top: 10px;
    margin-bottom: 30px
}
.owl-theme .owl-dots .owl-dot span{
    background: #f1f1f1;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #ae1c36
}
/* our-clients
======================= */
.our-clients{
    background: #f7f7f7
}
.our-clients .owl-carousel .owl-item img{
    width: auto !important;
    margin: auto;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out
}
.our-clients .owl-carousel .owl-item:hover img{
    filter: grayscale(0%);
}

/* contact-us
====================*/
.contact-us{
    padding-top: 50px
}
.contact-us iframe{
    width: 100%;
    height: 500px
}
.contact-us .head-section{
    text-align: right;
    margin-right: 25px;
    margin-bottom: 50px
}
.contact-us form{
    padding: 30px 30px 20px
}
.contact-us .head-section h2:after,
.contact-us .head-section h2:before{
    right: 0;
    left: auto;
    transform: translate(0)
}
.get-in-touch{
    background: #f7f7f7;
    padding: 20px
}
.contact-widget{
    margin-bottom: 20px;
    overflow: hidden
}
.contact-widget .icon{
    float: right;
    width: 100px;
    text-align: center
    
}
.contact-widget .icon i{
    font-size: 24px;
    color: #ae1c36;
}
.contact-widget .content{
    float: right;
    width: calc(100% - 100px)
}
.contact-widget .content p:first-child{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px
}
.contact-widget .content p{
    
}
.contact-widget .socail{
    margin-top: 25px;
    margin-right: 35px;
    text-align: center
}
.contact-widget .socail li {
    display: inline-block;
    font-size: 23px;
    color: #ae1c36;
    margin-left: 20px;
}
/* form-group
===================== */
.form-group{
    position: relative;
    margin-bottom: 25px
}
.form-group label{
    width: 35px;
    background: #ae1c36;
    color: #FFF;
    text-align: center;
    line-height:35px;
    font-size: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: 0
}
.form-group textarea{
    padding: 20px !important;
    height: 100px !important;
    resize: none
}
.form-group button{
    padding: 7px 25px;
    border:none;
    background: #ae1c36;
    color: #FFF
}

.form-group .form-control{
    background: #FFF;
    border:none;
    box-shadow: none;
    outline: none;
    height: 35px;
    padding-right: 55px
}
/*

section{
    position: sticky;
    top: 80px;
    left: 0;
    height: 100vh
}
footer{z-index: 5;position: relative}


*/
/* Scroll-top
===================*/
#scroll{
    background:#ae1c36;
    color: #ffffff;
    font-size: 20px;
    right: 20px;
    position: fixed;
    z-index: 9999;
    text-align: center;
    bottom: 20px;
    cursor: pointer;
    display: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent
}
#scroll:hover{
    color: #ae1c36;
    background: #FFF;
    border-color: #ae1c36
}
.download{
    position: fixed;
    top: 27%;
    left: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #FFF;
    border: 1px solid #ae1c36;
    z-index: 9999;
    color: #ae1c36;
    cursor: pointer
}
/* Preload 
=========================*/
.load {
    background:#231F20;
    color:#FFF;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
svg {
  display: none;
}

.blobs {
  -webkit-filter: url(#goo);
          filter: url(#goo);
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 70px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.blobs .blob-center {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  background: #ae1c36;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
  -webkit-animation: blob-grow linear 3.4s infinite;
          animation: blob-grow linear 3.4s infinite;
  border-radius: 50%;
  box-shadow: 0 -10px 40px -5px #ae1c36;
}

.blob {
  position: absolute;
  background: #ae1c36;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: blobs ease-out 3.4s infinite;
          animation: blobs ease-out 3.4s infinite;
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  opacity: 0;
}
.blob:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.blob:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.blob:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.blob:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.blob:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes blobs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(calc(-330px - 50%), -50%);
            transform: scale(0) translate(calc(-330px - 50%), -50%);
  }
  1% {
    opacity: 1;
  }
  35%,65% {
    opacity: 1;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
            transform: scale(0.9) translate(-50%, -50%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0) translate(calc(330px - 50%), -50%);
            transform: scale(0) translate(calc(330px - 50%), -50%);
  }
}

@keyframes blobs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(calc(-330px - 50%), -50%);
            transform: scale(0) translate(calc(-330px - 50%), -50%);
  }
  1% {
    opacity: 1;
  }
  35%,65% {
    opacity: 1;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
            transform: scale(0.9) translate(-50%, -50%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0) translate(calc(330px - 50%), -50%);
            transform: scale(0) translate(calc(330px - 50%), -50%);
  }
}
@-webkit-keyframes blob-grow {
  0%,  39% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
  40%, 42% {
    -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
            transform: scale(1, 0.9) translate(-50%, -50%);
  }
  43%, 44% {
    -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
            transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  45%, 46% {
    -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
            transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  47%, 48% {
    -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
            transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  52% {
    -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
            transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  54% {
    -webkit-transform: scale(1.7, 1.6) translate(-50%, -50%);
            transform: scale(1.7, 1.6) translate(-50%, -50%);
  }
  58% {
    -webkit-transform: scale(1.8, 1.7) translate(-50%, -50%);
            transform: scale(1.8, 1.7) translate(-50%, -50%);
  }
  68%, 70% {
    -webkit-transform: scale(1.7, 1.5) translate(-50%, -50%);
            transform: scale(1.7, 1.5) translate(-50%, -50%);
  }
  78% {
    -webkit-transform: scale(1.6, 1.4) translate(-50%, -50%);
            transform: scale(1.6, 1.4) translate(-50%, -50%);
  }
  80%, 81% {
    -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
            transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  82%, 83% {
    -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
            transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  84%, 85% {
    -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
            transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  86%, 87% {
    -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
            transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  90%, 91% {
    -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
            transform: scale(1, 0.9) translate(-50%, -50%);
  }
  92%, 100% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
}
@keyframes blob-grow {
  0%,  39% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
  40%, 42% {
    -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
            transform: scale(1, 0.9) translate(-50%, -50%);
  }
  43%, 44% {
    -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
            transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  45%, 46% {
    -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
            transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  47%, 48% {
    -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
            transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  52% {
    -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
            transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  54% {
    -webkit-transform: scale(1.7, 1.6) translate(-50%, -50%);
            transform: scale(1.7, 1.6) translate(-50%, -50%);
  }
  58% {
    -webkit-transform: scale(1.8, 1.7) translate(-50%, -50%);
            transform: scale(1.8, 1.7) translate(-50%, -50%);
  }
  68%, 70% {
    -webkit-transform: scale(1.7, 1.5) translate(-50%, -50%);
            transform: scale(1.7, 1.5) translate(-50%, -50%);
  }
  78% {
    -webkit-transform: scale(1.6, 1.4) translate(-50%, -50%);
            transform: scale(1.6, 1.4) translate(-50%, -50%);
  }
  80%, 81% {
    -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
            transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  82%, 83% {
    -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
            transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  84%, 85% {
    -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
            transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  86%, 87% {
    -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
            transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  90%, 91% {
    -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
            transform: scale(1, 0.9) translate(-50%, -50%);
  }
  92%, 100% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }
}

